h1 {color:blue; text-align:center;}
button {height:50px; width:100px;}
img {size:100px; 100px;}
h1+img {display:inline; position:absolute; left:0px; top:0px;}
button+img {display:inline; position:absolute; right:0px; top:0px;}
